* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(30, 38%, 92%);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-height: 100dvh;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 18em);
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    max-width: calc(2 * 18em);
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    padding: 2em;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
}

.subtitle {
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 3px;
    font-size: small;
}

.title {
    font-family: "Fraunces", sans-serif;
    color: hsl(212, 21%, 14%);
    margin: 0.8em 0;
    font-weight: 700;
    font-size: 35px;
}

.info {
    line-height: 1.5em;
    margin-bottom: 1em;
}

.price-new {
    font-family: "Fraunces", sans-serif;
    margin-right: 1em;
    font-weight: 700;
    font-size: 28px;
    color: hsl(158, 36%, 37%);
}

.price-old {
    text-decoration: line-through;
}

.btn {
    display: block;
    width: 100%;
    padding: 0.8em 0;
    margin-top: 2.5em;
    background-color: hsl(158, 36%, 37%);
    color: white;
    border-radius: 7px;
    border: none;
    font-weight: 700;
}

.btn span {
    display: inline-block;
}

.btn img {
    width: auto;
    height: 1em;
    vertical-align: middle;
    margin-right: 0.5em;
}

.btn:active, .btn:hover {
    cursor: pointer;
    background-color: hsl(158, 86%, 11%);
}

@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
        margin: 1.5em;
    }

    img {
        height: 16em;
    }

    .content {
        padding: 2em;
    }
}


